<link rel="stylesheet" href="/css/index.css">
<div id="fondo">
    <img src="/img/fondo/fondo.jpg" alt="Logo">
</div>

<div id="contenedor">
    <div id="img">
        <img src="/img/logo/kolab.png" alt="Logo">
    </div>

    <form action="/" method="post">
        <div id="confirmacion">
            <input type="text" name="username" id="username" placeholder="Nombre de Usuario" checked>
        </div>

        <div id="boton">
            <button id="proceso" type="submit">Validar</button>
        </div>
    </form>
</div>