<link rel="stylesheet" href="">
<div id="contenido">
    <form action="/" method="post">
        <div id="confirmacion">
            <input type="text" name="username" id="username" checked>
            <button id="proceso" type="submit">Validar</button>
        </div>
    </form>
</div>