<link rel="stylesheet" href="/css/kolab/kolabAgregar.css">
<div id="fondo"></div>

<div id="contenedor">
    <div id="Titulo">
        <label>Agregar Kolab</label>
    </div>

    <form action="/Kolab/agregar/" method="post">
        <div id="Nombres">
            <label>Nombre:</label>
            <input type="text" name="NombreKolab" id="NombreKolab" required>
        </div>

        <div id="Descripcion">
            <label> Descripción:</label>
            <textarea type="text" name="Descripcion" id="descripcion" required></textarea>
        </div>

        <div id="Mision">
            <label>Misión:</label>
            <textarea name="mision" id="mision" maxlength="1500" required></textarea>
        </div>

        <div id="Vision">
            <label>Visión:</label>
            <textarea name="vision" id="vision" maxlength="1500" required></textarea>
        </div>

        <div id="objetivos">
            <label>Objetivos:</label>
            <input type="text" id="numeros" placeholder="Ingrese su número de objetivos" checked>
        </div>

        <div id="listaObjetivos"></div>

        <div id="boton">
            <button type="button" onclick="objetivos.crear()">Crear Objetivos</button>
        </div>

        <div id="Guardar">
            <button type="submit">Guardar</button>
        </div>
    </form>
    {{#each traer}}
    <div id="botonOculto">
        <form action="/Kolab/siguiente/" method="post"><button type="submit">Siguiente</button></a></form>
    </div>
    {{/each}}
</div>

<script src="/js/objetivos.js"></script>
<script src="/js/ocultarnavegacion.js"></script>