<link rel="stylesheet" href="/css/proyectos/proyectosAgregar.css">
<div id="fondo"></div>

<form action="/proyecto/Agregar/{{user.idUsuarios}}" method="post">
    <div id="contenido">
        <div id="Titulo">
            <label>Agregar Proyecto</label>
        </div>

        <div id="rol">
            {{#each rol}}
            <input type="text" name="rol" id="rol" value="{{nombreRol}}" readonly>
            {{/each}}
        </div>

        <div id="numeroProyecto">
            <label> Proyecto N°</label>
            {{#each idProyecto}}
            <input type="text" name="numero" id="numero" value="{{'max(idProyecto)'}}" readonly>
            {{/each}}
        </div>

        <div id="NombreProyecto">
            <label>Nombre:</label>
            <input type="text" name="NombreProyecto" id="nombre" checked>
        </div>

        <div id="Descripcion">
            <label>Descripción:</label>
            <textarea name="DecripcionProyecto" id="descripcion" maxlength="1500" aria-checked="true"></textarea>
        </div>
        <div id="Fecha">
            <label>Fecha de Creación:</label>
            <input type="date" name="fechaProyecto" id="fecha" checked>
        </div>

        <div id="Mision">
            <label>Misión:</label>
            <textarea type="text" name="Mision" id="mision" checked></textarea>
        </div>

        <div id="Vision">
            <label>Visión:</label>
            <textarea type="text" name="Vision" id="vision" checked></textarea>
        </div>

        <div id="objetivos">
            <label>Objetivos:</label>
            <input type="text" id="numeros" placeholder="Ingrese su número de objetivos" checked>
        </div>

        <div id="listaObjetivos"></div>

         <div id="Unico">
            <textarea name="unico" id="unico" maxlength="2500"></textarea>
        </div>

        <div id="boton">
            <button type="button" onclick="objetivos.crear()">Crear Objetivos</button>
        </div>

        <div id="Guardar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/objetivos.js"></script>
