/*Fondo*/
#fondo{
    background-color: #2479A4;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
}

#fondo img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Contenedor y su campos*/
#contenedor{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 55%;
    max-height: 70%;
    left: 22.50%;
    top: 15%;
}

/*Logo*/
#img{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;
    left: 50%;
    top: 0%;
}

#img img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Letras Login*/
#registro{
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: 85%;
    max-width: 30%;
    max-height: 10%;
    position: absolute;
    top: 10%;
    left: 10%;
}

/*Input*/
#datos,
#contraseñas{
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 30%;
    max-height: 5%;
    position: absolute;
    top: 30%;
    left: 8%;
}

#contraseñas{
    top: 50%;
    left: 10%;
}

#Nombre,
#Contraseña{
    border: transparent;
    width: 100%;
    font-size: 20px;
    border-bottom: 6px solid #0f7097;
    transition: all .5s ease;
}

#Nombre:focus,
#Contraseña:focus{
    border-bottom: 6px solid  #6ec3ee;
}

/*Boton Inicio*/
#boton{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 12%;
}

#boton button{
    width: 100%;
    font-size: 20px;
}

/*Boton ojo*/
#ojo{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 37.5px;
    max-height: 37.5px;
    left: 36%;
    top: 50%;
}

#visto,
#equis{
    background-color: transparent;
    border: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ojo img{
    opacity: 60%;
    width: 100%;
    height: 100%;
}

/*Animacoines*/
#anim{
    max-width: 800px; margin: 0 auto;
}
