<link rel="stylesheet" href="">
<div id="contenido">
    <div class="row">
        <div id="tarjeta">
            <div id="Nombres">
                <label></label>
            </div>
            <div id="Edad">
                <p></p>
            </div>
            <div id="Descripcion">
                <p></p>
            </div>
        </div>
    </div>
</div>