<link rel="stylesheet" href="style.css">
<form action="/doers/editar/{{user.idUsuarios}}" method="post">
    <div id="contenido">
        <div id="Cedula">
            <label>Cedula:</label>
            <input type="text" name="Cedula" id="cedula" checked>
        </div>
        <div id="Nombre">
            <label>Nombre Completo:</label>
            <input type="text" name="NombreDoers" id="nombre" checked>
        </div>
        <div id="Edad">
            <label>Edad:</label>
            <input type="text" name="Edad" id="edad" checked>
        </div>
        <div id="Telefono">
            <label>Telefono:</label>
            <input type="text" name="Telefono" id="telefono" checked>
        </div>
        <div id="DescripcionDoers">
            <label>Descripción:</label>
            <input type="text" name="DescripcionDoers" id="descripcion" checked>
        </div>
        <div id="Guardar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>